<div class="dashboard p-4">
  <div class="header d-flex justify-content-end">
    <button
      class="btn btn-outline-danger"
      (click)="clearAllRecents()"
      [disabled]="(recents$ | async).length === 0"
    >
      Clear All
    </button>
  </div>

  <div
    class="recent d-flex px-4 border border-primary m-2 align-items-center"
    *ngFor="let recent of recents$ | async"
  >
    <div class="searchText ml-auto p-2" [innerHTML]="recent.text"></div>

    <button
      type="button"
      class="btn btn-success btn-sm searchRecent"
      (click)="search(recent.text)"
    >
      Search
    </button>
    <button
      type="button"
      class="btn btn-danger btn-sm removeRecent"
      (click)="removeRecent(recent)"
    >
      Delete
    </button>
  </div>
</div>
