<h2>Dashboard</h2>
<div class="container">
  <div class="search">
    <input type="text" [(ngModel)]="searchText" />
    <button (click)="submitSearch()" [disabled]="searchText.length === 0">
      Search
    </button>

    <p>Searching for - <span [innerHTML]="searchText$ | async"></span></p>

    <div *ngIf="isSearching$ | async"><span>Loading...</span></div>

    <div *ngFor="let result of searchResults$ | async">
      <div class="result">
        <p class="login" [innerHTML]="result.login"></p>
        <img
          class="profile_pic"
          [src]="result.avatar_url"
          (click)="navigateToProfile(result.html_url)"
        />
      </div>
    </div>

    <p [innerHTML]="error$ | async"></p>
  </div>

  <div class="dashboard">
    <div class="header">
      <p>Recents</p>
      <button
        (click)="clearAllRecents()"
        [disabled]="(recents$ | async).length === 0"
      >
        Clear All
      </button>
    </div>

    <div *ngFor="let recent of recents$ | async">
      <div class="recent" (click)="search(recent.text)">
        <p class="searchText" [innerHTML]="recent.text"></p>
        <p class="resultCount" [innerHTML]="recent.count"></p>
        <div class="removeRecent" (click)="removeRecent(recent)">x</div>
      </div>
    </div>
  </div>
</div>
