<div class="search-container p-4">
  <div class="container d-flex flex-col">
    <input
      type="text"
      class="form-control w-50"
      placeholder="Search by username ..."
      aria-label="Recipient's username"
      [(ngModel)]="searchText"
    />
    <button
      class="btn btn-secondary"
      (click)="submitSearch()"
      [disabled]="searchText.length === 0"
    >
      Search
    </button>
  </div>

  <div *ngIf="isSearching$ | async; else searchResults">
    <span>Loading...</span>
  </div>

  <ng-template #searchResults>
    <p *ngIf="searchText.length !== 0">
      Showing results for - <span [innerHTML]="searchText$ | async"></span>
    </p>

    <div class="search-result-container">
      <div
        class="search-result card"
        *ngFor="let result of searchResults$ | async"
      >
        <img
          class="card-img-top profile_pic"
          [src]="result.avatar_url"
          alt="Profile pic"
        />
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="result.login"></h5>
          <button
            (click)="navigateToProfile(result.html_url)"
            class="btn btn-primary"
          >
            View
          </button>
        </div>
      </div>
      <p [innerHTML]="error$ | async"></p>
    </div>
  </ng-template>
</div>
